.App {
  text-align: center;
}

.form-container {
  width: 700px;
  margin: 0px auto;
  padding: 20px;

  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-container__operation {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  margin-right: 10px !important;
  width: 100px;
}

.button {
  margin-right: 10px !important;
}

.form-container__result {
  margin-bottom: 10px;
}